<template>
	<header :class="{ 'bg-primary': isNotHome }" class="site-header flex">
		<div class="container">
			<div
				v-show="isNotHome"
				class="burger flex v-center h-center"
				@click="$nuxt.$emit('toggleSidebar')"
			>
				<span class="bzi-bars"></span>
			</div>
			<Logo :title="isNotHome ? 'Suitbaze' : 'Baze UI'" />
			<a
				v-if="$route.path !== '/'"
				href="https://github.com/suitmedia/generator-suit-baze"
				target="_blank"
				class="github"
			>
				<i class="bzi-github1 bzi-1_5x text-white"></i>
			</a>
		</div>
	</header>
</template>

<script>
export default {
	name: 'Header',
	props: {
		getstarted: Boolean
	},
	computed: {
		isNotHome() {
			return this.$route.path !== '/'
		}
	}
}
</script>

<style lang="scss">
.bg-primary {
	height: 54px !important;
	box-shadow: 0px 0px 10px #333333;
}

.site-header {
	height: 60px;

	& > .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0;
		width: 100%;

		@include mq(48em) {
			width: 94%;
			margin: 0 auto;
		}
	}

	&.transparent-header {
		background: transparent;

		.header-link {
			color: #fff;

			&:hover {
				color: $black20;
			}
		}
	}

	.burger {
		height: 100%;
		width: 54px;
		background-color: $black;
		color: #fff;
		cursor: pointer;

		@include mq(48em) {
			display: none;
		}
	}

	.github {
		margin-right: 16px;

		@include mq(48em) {
			margin-right: 0;
		}
	}

	@media #{$large} {
		height: 70px;
	}
}
</style>
