<template>
	<div class="popup">
		<div class="popup--box p-24">
			<div class="popup--box-head flex f-space-between">
				<h3 class="text-caps">{{ popupTitle }}</h3>
				<i
					class="bzi-close bzi-1_5x"
					@click="$nuxt.$emit('toggleAlertPopup')"
				></i>
			</div>
			<div class="popup--box-body pv-16">
				{{ popupBody }}
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		popupTitle: {
			type: String,
			default: 'Popup Title'
		},
		popupBody: {
			type: String,
			default: 'Popup Body'
		}
	}
}
</script>

<style lang="scss" scoped>
.popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	padding-top: 10%;
	background-color: rgba(0, 0, 0, 0.4);

	&--box {
		width: 80%;
		margin: 0 auto;
		background-color: $blue;

		&-head {
			border-bottom: 2px solid #333;

			.bzi-close {
				height: fit-content;
				transition: all 0.3s ease;

				&:hover {
					transform: scale(1.5);
				}
			}
		}
	}
}
</style>
