<template>
	<ul id="bazeui" class="mb-32">
		<li
			v-for="component in bazecomponents"
			:key="component.id"
			@click="$nuxt.$emit('toggleSidebar')"
		>
			<nuxt-link
				:to="component.route"
				:class="{ 'route-active': component.route === $route.path }"
				class="p-8 pl-24 text-dark-grey text-cap d-block"
				>{{ component.text }}</nuxt-link
			>
		</li>
	</ul>
</template>

<script>
export default {
	name: 'BazeComponent',
	props: {
		bazecomponents: Array
	}
}
</script>

<style lang="scss" scoped>
#bazeui {
	margin-top: 54px;
	padding-top: 4px;
	padding-left: 0;

	& li {
		list-style: none;
	}
}

.route-active {
	background-color: $light-grey;
	color: $black;
	font-weight: 600;
}
</style>
