<template>
	<footer :class="[isNotHome ? 'bg-white' : '']" class="site-footer">
		<span>Version 1.3.2</span>
		&nbsp; | &nbsp;
		<span>
			Powered by:
			<a href="https://suitmedia.com" target="_blank" class="text-white"
				>Suitmedia</a
			>
		</span>
	</footer>
</template>

<script>
export default {
	name: 'Footer',
	computed: {
		isNotHome() {
			return this.$route.path !== '/'
		}
	}
}
</script>

<style lang="scss" scoped>
// .bg--white {
// 	background: #fff;
// 	color: $black;

// 	& * {
// 		color: $black;
// 	}
// }
</style>
