<template>
	<nuxt-link :to="to">{{ text }}</nuxt-link>
</template>

<script>
export default {
	name: 'Link',
	props: {
		text: {
			type: String,
			default: 'text'
		},
		to: {
			type: String,
			default: '/'
		}
	}
}
</script>

<style lang="scss" scoped></style>
