<template>
	<nuxt-link to="/" class="site-logo text-white h4 text-bold">
		<img src="~assets/img/site-logo.png" alt="" width="35" />
		{{ title }}
	</nuxt-link>
</template>

<script>
export default {
	props: {
		title: {
			type: String,
			default: 'Title'
		}
	}
}
</script>

<style lang="scss" scoped>
.site-logo {
	margin: 0 auto 0 16px;

	&:hover,
	&:focus {
		color: #fff;
	}

	@include mq(48em) {
		margin: 0;
	}
}
</style>
