<template>
	<div v-if="$fetchState.pending" class="loading flex fg-1 v-center h-center">
		<div class="spinner"></div>
	</div>
	<p v-else-if="$fetchState.error">An error occurred :(</p>
	<div v-else class="card-grid">
		<div
			v-for="pokemon in pokemonStats"
			:key="pokemon.id"
			class="card-light-grey"
		>
			<div class="card--image text-center">
				<img :src="pokemon.image" alt="" />
			</div>
			<div class="card--body">
				<h5 class="text-cap">{{ pokemon.name }}</h5>
			</div>
			<div class="card--footer text-cap">
				<span class="d-block mb-8">type:</span>
				<span v-for="type in pokemon.type" :key="type.id" class="poke-type"
					>{{ type }}
				</span>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			pokemonStats: []
		}
	},
	async fetch() {
		const data = []

		for (let i = 0; i < 20; i++) {
			const res = await fetch(`https://pokeapi.co/api/v2/pokemon/${i + 1}`)

			data.push(await res.json())
		}

		this.pokemonStats = data.map(data => ({
			id: data.id,
			name: data.name,
			image: data.sprites.front_default,
			type: data.types.map(type => type.type.name)
		}))
	}
}
</script>

<style lang="scss" scoped>
.loading {
	height: 30vh;
}

.poke-type {
	padding: 2px 6px;
	border: 1px solid $black;

	&:not(:last-child) {
		margin-right: 6px;
	}
}
</style>
