<template>
	<div class="pv-24">
		<h1 class="text-yellow">PoKeMoN</h1>
		<form class="mb-24">
			<input
				type="text"
				class="form-input-search form-input--block"
				placeholder="Search"
			/>
		</form>
		<PokemonCard />
	</div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped></style>
