.alert {
  display: block;
  padding: 9px 24px;
  margin-bottom: 1rem;
  border: 1px solid $black;
  font-family: inherit;
  line-height: $base_line_height;
  background-color: $light-grey;
}

@mixin alertStyle($color, $shade: dark) {
  @extend .alert;
  color: $color;
  border-color: $color;
  background-color: lighten($color, 30%);

  @if $shade == dark {
    background-color: lighten($color, 30%);
  } @else {
    background-color: darken($color, 2.5%);
    border-color: darken($color, 15%);
    color: darken($color, 15%);
  }
}

@each $state, $color in $palettes {
  .alert--#{$state} {
      @include alertStyle($color);
  }
}

@each $state, $color in $light-palettes {
  .alert--#{$state} {
      @include alertStyle($color, light);
  }
}