.progress-bar {
  position: relative;
  overflow: hidden;
  background: rgba(lighten($primary, 40%), 0.3);
  border-radius: 4px;

  .bar {
    display: block;
    height: 4px;
    background: $primary;
    border-radius: 4px;

    @media #{$medium} {
      height: 8px;
    }
  }
}

.hash-container {
  background-color: rgba(lighten($primary, 40%), 0.2);
  padding: 14px 16px;
}

// Custom Card
.card {
  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 12px;

    & > * {
      margin: 0 !important;
    }

    .card--image {
      max-width: unset !important;
    }
  }

  &-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include mq(48em) {
      flex-direction: row;
    }
  }
  
  &--header {
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    background-color: rgba(#000000, 0.3);
  }

  &--image {
    width: 100%;
    max-width: 175px;
  }

  &--body {
    padding: 8px 16px;
    flex-grow: 1;
  }
  
  &--footer {
    padding: 8px 16px;
    border-top: 1px solid #ccc;
    background-color: rgba(#000000, 0.2)
  }
}

@mixin cardStyle($color) {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  background-color: $color;
  color: #fff;
}

@each $state, $color in $palettes {
  .card-#{$state} {
    @include cardStyle($color);

    @include mq(48em) {
      margin-left: 12px;
    }
  }
}

@each $state, $color in $light-palettes {
  .card-#{$state} {
    @include cardStyle($color);
    color: $black;

    @include mq(48em) {
      margin-left: 12px;
    }
  }
}