
.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 0 $space 0;
    list-style: none;
    user-select: none;

    &--left {
        @extend .pagination;
        justify-content: flex-start !important;
    }

    &--right {
        @extend .pagination;
        justify-content: flex-end !important;
    }

    li {
        margin: 0 2px;
    }

    a {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: solid 1px #ddd;
        color: currentcolor;
        background: #eee;

        &:hover,
        &:focus {

        }

        &.is-active {
            font-weight: 700;
            background-color: #d5d5d5 !important;
            cursor: default;
            pointer-events: none;
        }
    }
}
