<template>
	<div id="app">
		<div class="sticky-footer-container-item --fixed">
			<Header />
		</div>
		<div class="pages pt-64">
			<div :class="{ 'open-sidebar': isSidebarOpen }" class="sidebar">
				<BazeComponents :bazecomponents="bazeComponents" />
			</div>
			<div class="container">
				<nuxt />
				<hr />
				<p class="font-opensans text-dark-grey pb-32">&copy; 2021 Suitmedia</p>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	layout: 'blanklayout',
	data() {
		return {
			isSidebarOpen: false,
			bazeComponents: [
				{
					id: +new Date(),
					text: 'get started',
					route: '/getstarted'
				},
				{
					id: +new Date(),
					text: 'headings',
					route: '/headings'
				},
				{
					id: +new Date(),
					text: 'colors',
					route: '/colors'
				},
				{
					id: +new Date(),
					text: 'list',
					route: '/list'
				},
				{
					id: +new Date(),
					text: 'text alignment',
					route: '/textalignment'
				},
				{
					id: +new Date(),
					text: 'buttons',
					route: '/buttons'
				},
				{
					id: +new Date(),
					text: 'alert',
					route: '/alert'
				},
				{
					id: +new Date(),
					text: 'card',
					route: '/card'
				},
				{
					id: +new Date(),
					text: 'media object',
					route: '/mediaobject'
				},
				{
					id: +new Date(),
					text: 'grid',
					route: '/grid'
				},
				{
					id: +new Date(),
					text: 'table',
					route: '/table'
				},
				{
					id: +new Date(),
					text: 'form',
					route: '/form'
				},
				{
					id: +new Date(),
					text: 'tabs',
					route: '/tabs'
				},
				{
					id: +new Date(),
					text: 'pagination',
					route: '/pagination'
				},
				{
					id: +new Date(),
					text: 'bz icons',
					route: '/bzicons'
				},
				{
					id: +new Date(),
					text: 'responsive media',
					route: '/responsivemedia'
				},
				{
					id: +new Date(),
					text: 'api',
					route: '/pokeapi'
				}
			]
		}
	},
	created() {
		this.$nuxt.$on('toggleSidebar', () => {
			this.isSidebarOpen = !this.isSidebarOpen
		})
	}
}
</script>

<style lang="scss" scoped>
.sticky-footer-container-item {
	background: #555;
	height: auto;

	&.\--fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
	}
}

hr {
	border-top-color: #ccc;
}

.font-opensans {
	font-family: 'Open Sans', sans-serif;
}

.pages {
	// position: relative;
	// z-index: 0;
	margin-top: 24px;

	@media #{$medium} {
		margin-top: 54px;
		padding-left: 215px;
	}
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	transform: translateX(-100%);
	width: 215px;
	height: 100%;
	padding-top: 8px;
	overflow-y: scroll;
	border-right: 1px solid #ccc;
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	transition: all 0.3s ease;

	&.open-sidebar {
		transform: translateX(0);
	}

	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-track {
		background: #fff;
	}
	&::-webkit-scrollbar-thumb {
		background: #fff;
	}

	&:hover {
		&::-webkit-scrollbar-thumb {
			background: #ddd;

			&:hover {
				background: #aaa;
			}
		}
	}

	@include mq(48em) {
		transform: translateX(0);
	}
}
</style>
