<template>
	<div id="app" class="sticky-footer-container">
		<div
			:class="{ 'shadow-def': isNotHome }"
			class="sticky-footer-container-item --fixed"
		>
			<Header />
		</div>
		<div class="sticky-footer-container-item --pushed">
			<nuxt />
		</div>
		<div :class="{ hidden: isNotHome }" class="sticky-footer-container-item">
			<Footer class="pv-20 text-center text-white" />
		</div>
		<section
			id="install-app"
			:class="{ 'show-install': isLoaded }"
			class="p-16"
		>
			<h5 class="text-cap">install baze app?</h5>
			<div class="flex">
				<button class="btn--ghost-black" @click="isLoaded = false">
					next time
				</button>
				<button class="btn--blue">install app</button>
			</div>
		</section>
	</div>
</template>

<script>
export default {
	data() {
		return {
			isLoaded: false
		}
	},
	computed: {
		isNotHome() {
			return this.$route.path !== '/'
		}
	},
	mounted() {
		this.isLoaded = true
	}
}
</script>

<style lang="scss" scoped>
#app {
	position: absolute;
	overflow: hidden;
}

#install-app {
	// display: none;
	position: absolute;
	z-index: 9;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 100%);
	border-radius: 8px;
	background-color: #fff;
	transition: all 0.5s ease-in-out;

	&.show-install {
		// display: unset;
		transform: translate(-50%, -16px);
	}

	.flex {
		gap: 16px;
	}

	&.show-option {
		opacity: 1;
		pointer-events: all;
	}
}

.sticky-footer-container-item {
	background: #555;

	&.\--fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 3;
	}

	&.\--pushed {
		background: #fff;
	}
}
</style>
