<template>
	<main class="site-main">
		<div class="mb-24">
			<h2 class="text-primary text-cap font-fira">bz icons</h2>
			<!-- SMALLER -->
			<h5 class="text-cap mb-12">smaller icons</h5>
			<div class="mb-24">
				<i class="bzi-notification bzi-0_5x"></i>
				<div class="f-14">
					<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzi-notification bzi-0_5x"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span></code></pre>
				</div>
			</div>

			<!-- NORMAL -->
			<h5 class="text-cap mb-12">normal icons</h5>
			<div class="mb-24">
				<i class="bzi-notification"></i>
				<div class="f-14">
					<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzi-notification"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span></code></pre>
				</div>
			</div>

			<!-- LARGER -->
			<h5 class="text-cap mb-12">larger icons</h5>
			<div class="mb-24">
				<i class="bzi-notification bzi-2x"></i>
				<div class="f-14">
					<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzi-notification bzi-2x"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span></code></pre>
				</div>
			</div>

			<!-- MIRROR -->
			<h5 class="text-cap mb-12">mirror icons</h5>
			<div class="mb-24">
				<i class="bzi-notification bzi-180"></i>
				<div class="f-14">
					<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzi-notification bzi-180"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span></code></pre>
				</div>
			</div>
		</div>
	</main>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.site-main {
	margin: 0;
	font-family: 'Open Sans', sans-serif;

	hr {
		border-top-color: #ccc;
	}

	.hljs {
		display: block;
		overflow-x: auto;
		background: #efecf4;
		color: #585260;

		&-tag {
			color: #be4678;
		}

		&-classname {
			color: #2a9292;
		}
	}

	.font-fira {
		font-family: 'Fira Mono', monospace;
	}
}
</style>
