<template>
	<main class="site-main">
		<div class="mb-24">
			<h2 class="text-primary text-cap font-fira">flex card</h2>
			<div class="card-group">
				<!-- Card 1 -->
				<div class="card-blue">
					<div class="card--header text-cap">card header</div>
					<img src="~assets/img/site-logo.png" alt="" class="card--image" />
					<div class="card--body">
						<h5>Card</h5>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
							ab saepe ex aliquam aliquid dolorum praesentium, corrupti magni
							fugiat. Assumenda.
						</p>
					</div>
					<div class="card--footer">ini card footer</div>
				</div>
				<!-- Card 2 -->
				<div class="card-dark-grey">
					<div class="card--header text-cap">card header</div>
					<img src="~assets/img/site-logo.png" alt="" class="card--image" />
					<div class="card--body">
						<h5>Card</h5>
						<p>
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut
							praesentium quasi, quidem odit incidunt iste, doloremque fugiat
							voluptatum cum alias dignissimos earum numquam laudantium
							delectus.
						</p>
					</div>
					<div class="card--footer">ini card footer</div>
				</div>
				<!-- Card 3 -->
				<div class="card-grey">
					<div class="card--header text-cap">card header</div>
					<img src="~assets/img/site-logo.png" alt="" class="card--image" />
					<div class="card--body">
						<h5>Card</h5>
						<p>
							Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia
							porro corrupti provident iusto totam ipsum?
						</p>
					</div>
				</div>
				<!-- Card 4 -->
				<div class="card-light-grey">
					<img src="~assets/img/site-logo.png" alt="" class="card--image" />
					<div class="card--body">
						<h5>Card</h5>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit,
							deserunt!
						</p>
					</div>
					<div class="card--footer">ini card footer</div>
				</div>
			</div>
			<!-- Code -->
			<div class="f-14">
				<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card-group"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--primary mb-12"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--header"</span>&gt;</span>
            Card header
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--image"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"..."</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--body"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">h5</span>&gt;</span>Card<span class="hljs-tag">&lt;/<span class="hljs-name">h5</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mb-0"</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quia consectetur quibusdam repudiandae!<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--footer"</span>&gt;</span>
            Card footer
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--secondary mb-12"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--header"</span>&gt;</span>
            Card header
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--image"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"..."</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--body"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">h5</span>&gt;</span>Card<span class="hljs-tag">&lt;/<span class="hljs-name">h5</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mb-0"</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--footer"</span>&gt;</span>
            Card footer
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--light-grey mb-12"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--header"</span>&gt;</span>
            Card header
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--image"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"..."</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--body"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">h5</span>&gt;</span>Card<span class="hljs-tag">&lt;/<span class="hljs-name">h5</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mb-0"</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam rerum nihil laboriosam,
            architecto sequi dolor doloribus impedit totam voluptatibus earum vel exercitationem quas commodi. Quidem, fugit corrupti beatae accusantium!<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card mb-12"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--image"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"..."</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--body"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">h5</span>&gt;</span>Card<span class="hljs-tag">&lt;/<span class="hljs-name">h5</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mb-0"</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam rerum nihil laboriosam,
            architecto sequi dolor doloribus impedit totam voluptatibus earum vel exercitationem quas commodi. Quidem, fugit corrupti beatae accusantium!<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--footer"</span>&gt;</span>
            Card footer
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
			</div>
		</div>
		<hr />
		<div class="mb-24">
			<h2 class="text-primary text-cap font-fira">baze grid card</h2>
			<div class="card-grid">
				<div
					v-for="index in 5"
					:key="index"
					class="card-blue"
					data-col="s12 m6 l3"
				>
					<div class="card--header text-cap">card header</div>
					<img src="~assets/img/site-logo.png" alt="" class="card--image" />
					<div class="card--body">
						<h5>Card</h5>
						<p class="text-right">6 September 2021</p>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
							ab saepe ex aliquam aliquid dolorum praesentium, corrupti magni
							fugiat. Assumenda.
						</p>
					</div>
					<div class="card--footer">ini card footer</div>
				</div>
			</div>
			<!-- CODE -->
			<div class="f-14">
				<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg bzg--flex card-group js-card"</span> <span class="hljs-attr">data-card</span>=<span class="hljs-string">"dev/data/data.json"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c mb-24"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"..."</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m6,l3"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--primary"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--header"</span>&gt;</span>
                Header title
            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--image"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"..."</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--body"</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">h5</span>&gt;</span>Johanna Sargent<span class="hljs-tag">&lt;/<span class="hljs-name">h5</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-right"</span>&gt;</span>14 Februari 2019<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mb-0"</span>&gt;</span>Voluptate sit anim consequat velit commodo qui tempor nisi dolor duis consequat.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card--footer"</span>&gt;</span>
                Footer title
            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
			</div>
		</div>
	</main>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.site-main {
	margin: 0;
	font-family: 'Open Sans', sans-serif;

	hr {
		border-top-color: #ccc;
	}

	.hljs {
		display: block;
		overflow-x: auto;
		background: #efecf4;
		color: #585260;

		&-tag {
			color: #be4678;
		}

		&-classname {
			color: #2a9292;
		}
	}

	.font-fira {
		font-family: 'Fira Mono', monospace;
	}
}
</style>
