<template>
	<main class="site-main">
		<!-- Text Color -->
		<div class="mb-24">
			<h2 class="text-primary text-cap font-fira">text color</h2>
			<p class="text-blue">Text class color = ".text-blue"</p>
			<p class="text-dark-grey">Text class color = ".text-dark-grey"</p>
			<p class="text-primary">Text class color = ".text-primary"</p>
			<p class="text-red">Text class color = ".text-red"</p>
			<p class="text-black">Text class color = ".text-black"</p>
			<p class="text-grey">Text class color = ".text-grey"</p>
			<p class="text-light-grey">Text class color = ".text-light-grey"</p>
			<div>
				<pre>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"text-blue"</span>&gt;</span>Text class color = ".text-blue"<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"text-dark-grey"</span>&gt;</span>Text class color = ".text-dark-grey"<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"text-primary"</span>&gt;</span>Text class color = ".text-primary"<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"text-red"</span>&gt;</span>Text class color = ".text-red"<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"text-black"</span>&gt;</span>Text class color = ".text-black"<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"text-grey"</span>&gt;</span>Text class color = ".text-grey"<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"text-light-grey"</span>&gt;</span>Text class color = ".text-light-grey"<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
				</pre>
			</div>
		</div>
		<hr />

		<!-- Background Color -->
		<div class="mb-24">
			<h2 class="text-primary text-cap font-fira">background color</h2>
			<p class="bg-blue">Background class color = ".bg-blue"</p>
			<p class="bg-dark-grey">Background class color = ".bg-dark-grey"</p>
			<p class="bg-primary">Background class color = ".bg-primary"</p>
			<p class="bg-red">Background class color = ".bg-red"</p>
			<p class="bg-black">Background class color = ".bg-black"</p>
			<p class="bg-grey">Background class color = ".bg-grey"</p>
			<p class="bg-light-grey">Background class color = ".bg-light-grey"</p>
			<div>
				<pre>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"bg-primary"</span>&gt;</span>Text class color = ".bg-primary"<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"bg-dark-grey"</span>&gt;</span>Text class color = ".bg-dark-grey"<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"bg-primary"</span>&gt;</span>Text class color = ".bg-primary"<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"bg-red"</span>&gt;</span>Text class color = ".bg-red"<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"bg-black"</span>&gt;</span>Text class color = ".bg-black"<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"bg-grey"</span>&gt;</span>Text class color = ".bg-grey"<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"bg-light-grey"</span>&gt;</span>Text class color = ".bg-light-grey"<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
				</pre>
			</div>
		</div>
		<hr />

		<!-- Black Tones -->
		<div class="mb-24">
			<h2 class="text-primary text-cap font-fira">black tones</h2>
			<p class="text-black10">
				Black tone = ".text-black10" ($black10)
				<span class="bg-black10">___</span>
			</p>
			<p class="text-black20">
				Black tone = ".text-black20" ($black20)
				<span class="bg-black20">___</span>
			</p>
			<p class="text-black30">
				Black tone = ".text-black30" ($black30)
				<span class="bg-black30">___</span>
			</p>
			<p class="text-black40">
				Black tone = ".text-black40" ($black40)
				<span class="bg-black40">___</span>
			</p>
			<p class="text-black50">
				Black tone = ".text-black50" ($black50)
				<span class="bg-black50">___</span>
			</p>
			<p class="text-black60">
				Black tone = ".text-black60" ($black60)
				<span class="bg-black60">___</span>
			</p>
			<p class="text-black70">
				Black tone = ".text-black70" ($black70)
				<span class="bg-black70">___</span>
			</p>
			<p class="text-black80">
				Black tone = ".text-black80" ($black80)
				<span class="bg-black80">___</span>
			</p>
			<p class="text-black90">
				Black tone = ".text-black90" ($black90)
				<span class="bg-black90">___</span>
			</p>
			<p class="text-black">
				Black tone = ".text-black" ($black)
				<span class="bg-black">___</span>
			</p>
			<div>
				<pre>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"text-black10"</span>&gt;</span>Black tone = ".text-black10" ($black10)<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"text-black20"</span>&gt;</span>Black tone = ".text-black20" ($black20)<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"text-black30"</span>&gt;</span>Black tone = ".text-black30" ($black30)<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"text-black40"</span>&gt;</span>Black tone = ".text-black40" ($black40)<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"text-black50"</span>&gt;</span>Black tone = ".text-black50" ($black50)<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"text-black60"</span>&gt;</span>Black tone = ".text-black60" ($black60)<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"text-black70"</span>&gt;</span>Black tone = ".text-black70" ($black70)<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"text-black80"</span>&gt;</span>Black tone = ".text-black80" ($black80)<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"text-black90"</span>&gt;</span>Black tone = ".text-black90" ($black90)<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"text-black"</span>&gt;</span>Black tone = ".text-black" ($black)<span class="hljs-tag">&lt;/p&gt;</span>
					</code>
				</pre>
			</div>
		</div>
		<hr />

		<!-- Link Color -->
		<div class="mb-24">
			<h2 class="text-primary text-cap font-fira">link color</h2>
			<p>
				Link color = <a class="link-blue" href="#">".link-blue"</a> (
				<a class="link-blue" href="#">Default link color</a> )
			</p>
			<p>
				Link color = <a class="link-dark-grey" href="#">".link-dark-grey"</a>
			</p>
			<p>Link color = <a class="link-primary" href="#">".link-primary"</a></p>
			<p>Link color = <a class="link-red" href="#">".link-red"</a></p>
			<p>Link color = <a class="link-black" href="#">".link-black"</a></p>
			<p>Link color = <a class="link-grey" href="#">".link-grey"</a></p>
			<p>
				Link color = <a class="link-light-grey" href="#">".link-light-grey"</a>
			</p>
			<div>
				<pre>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p&gt;</span>Link color = <span class="hljs-tag">&lt;a class=</span><span class="hljs-classname">"link-blue"</span>
						<span class="hljs-tag">href=</span><span class="hljs-classname">"#"</span><span class="hljs-tag">&gt;</span>".link-blue"<span class="hljs-tag">&lt;/a&gt;</span><span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p&gt;</span>Link color = <span class="hljs-tag">&lt;a class=</span><span class="hljs-classname">"link-dark-grey"</span>
						<span class="hljs-tag">href=</span><span class="hljs-classname">"#"</span><span class="hljs-tag">&gt;</span>".link-dark-grey"<span class="hljs-tag">&lt;/a&gt;</span><span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p&gt;</span>Link color = <span class="hljs-tag">&lt;a class=</span><span class="hljs-classname">"link-blue"</span>
						<span class="hljs-tag">href=</span><span class="hljs-classname">"#"</span><span class="hljs-tag">&gt;</span>".link-blue"<span class="hljs-tag">&lt;/a&gt;</span><span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p&gt;</span>Link color = <span class="hljs-tag">&lt;a class=</span><span class="hljs-classname">"link-blue"</span>
						<span class="hljs-tag">href=</span><span class="hljs-classname">"#"</span><span class="hljs-tag">&gt;</span>".link-blue"<span class="hljs-tag">&lt;/a&gt;</span><span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p&gt;</span>Link color = <span class="hljs-tag">&lt;a class=</span><span class="hljs-classname">"link-blue"</span>
						<span class="hljs-tag">href=</span><span class="hljs-classname">"#"</span><span class="hljs-tag">&gt;</span>".link-blue"<span class="hljs-tag">&lt;/a&gt;</span><span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p&gt;</span>Link color = <span class="hljs-tag">&lt;a class=</span><span class="hljs-classname">"link-blue"</span>
						<span class="hljs-tag">href=</span><span class="hljs-classname">"#"</span><span class="hljs-tag">&gt;</span>".link-blue"<span class="hljs-tag">&lt;/a&gt;</span><span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p&gt;</span>Link color = <span class="hljs-tag">&lt;a class=</span><span class="hljs-classname">"link-blue"</span>
						<span class="hljs-tag">href=</span><span class="hljs-classname">"#"</span><span class="hljs-tag">&gt;</span>".link-blue"<span class="hljs-tag">&lt;/a&gt;</span><span class="hljs-tag">&lt;/p&gt;</span>
					</code>
				</pre>
			</div>
		</div>
	</main>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
hr {
	border-top-color: #ccc;
}

pre {
	white-space: unset;
}

.hljs {
	display: block;
	overflow-x: auto;
	background: #efecf4;
	color: #585260;

	&-tag {
		color: #be4678;
	}

	&-classname {
		color: #2a9292;
	}
}

.font-fira {
	font-family: 'Fira Mono', monospace;
}

.bg-primary {
	height: auto !important;
	box-shadow: none !important;
}

.site-main {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
</style>
