<template>
	<main class="site-main">
		<div class="mb-24">
			<h2 class="text-primary text-cap font-fira">form</h2>
			<form>
				<div class="bzg mb-16 v-center">
					<div class="bzg_c form-label text-cap" data-col="s12 m4 l4">
						text input
					</div>
					<div class="bzg_c" data-col="s12 m8 l8">
						<input
							class="form-input"
							type="text"
							name="text"
							placeholder="Text"
						/>
					</div>
				</div>
				<div class="bzg mb-16 v-center">
					<div class="bzg_c form-label text-cap" data-col="s12 m4 l4">
						full width input
					</div>
					<div class="bzg_c" data-col="s12 m8 l8">
						<input
							class="form-input form-input--block"
							type="text"
							name="text"
							placeholder="Full Width Input"
						/>
					</div>
				</div>
				<div class="bzg mb-16 v-center">
					<div class="bzg_c form-label text-cap" data-col="s12 m4 l4">
						password input
					</div>
					<div class="bzg_c" data-col="s12 m8 l8">
						<input
							class="form-input"
							type="password"
							name="password"
							placeholder="Password"
						/>
					</div>
				</div>
				<div class="bzg mb-16 v-center">
					<div class="bzg_c form-label text-cap" data-col="s12 m4 l4">
						email address
					</div>
					<div class="bzg_c" data-col="s12 m8 l8">
						<input
							class="form-input"
							type="email"
							name="email"
							placeholder="Email"
						/>
					</div>
				</div>
				<div class="bzg mb-16 v-center">
					<div class="bzg_c form-label text-cap" data-col="s12 m4 l4">
						number input
					</div>
					<div class="bzg_c" data-col="s12 m8 l8">
						<input
							class="form-input"
							type="number"
							name="number"
							placeholder="Number"
						/>
					</div>
				</div>
				<div class="bzg mb-16 v-center">
					<div class="bzg_c form-label text-cap" data-col="s12 m4 l4">
						single file input (full wwidth)
					</div>
					<div class="bzg_c form-group" data-col="s12 m8 l8">
						<input
							class="form-input form-input--block"
							type="text"
							name="text"
							disabled
							style="cursor: default"
						/>
						<button class="ml-4 btn btn--blue text-cap">browse</button>
					</div>
				</div>
				<div class="bzg mb-16 v-center">
					<div class="bzg_c form-label text-cap" data-col="s12 m4 l4">
						multiple file input
					</div>
					<div class="bzg_c form-group" data-col="s12 m8 l8">
						<input
							class="form-input"
							type="text"
							name="text"
							disabled
							style="cursor: default"
						/>
						<button class="ml-4 btn btn--blue text-cap">browse</button>
					</div>
				</div>
				<div class="bzg mb-16">
					<div class="bzg_c form-label text-cap" data-col="s12 m4 l4">
						textarea input
					</div>
					<div class="bzg_c" data-col="s12 m8 l8">
						<textarea
							class="form-input"
							type="text"
							name="text"
							placeholder="Textarea"
						/>
					</div>
				</div>
				<div class="bzg mb-16 v-center">
					<div class="bzg_c form-label text-cap" data-col="s12 m4 l4">
						disabled input
					</div>
					<div class="bzg_c" data-col="s12 m8 l8">
						<input
							class="form-input"
							type="text"
							name="text"
							placeholder="Disabled"
							disabled
						/>
					</div>
				</div>
				<div class="bzg mb-16 v-center">
					<div class="bzg_c form-label text-cap" data-col="s12 m4 l4">
						read-only input
					</div>
					<div class="bzg_c" data-col="s12 m8 l8">
						<input
							class="form-input"
							type="text"
							name="text"
							placeholder="Read-only"
							readonly
						/>
					</div>
				</div>
				<div class="bzg mb-16 v-center">
					<div class="bzg_c form-label text-cap" data-col="s12 m4 l4">
						dropdown select
					</div>
					<div class="bzg_c" data-col="s12 m8 l8">
						<select id="dropdown" class="form-input" name="dropdown">
							<option value="1">Option 1</option>
							<option value="2">Option 2</option>
							<option value="3">Option 3</option>
						</select>
					</div>
				</div>
				<div class="bzg mb-16 v-center">
					<div class="bzg_c form-label text-cap" data-col="s12 m4 l4">
						radio buttons
					</div>
					<div class="bzg_c" data-col="s12 m8 l8">
						<div class="form-input--check">
							<input id="opt1" class="form-input" type="radio" name="radio" />
							<label for="opt1">Option 1</label>
							<input id="opt2" class="form-input" type="radio" name="radio" />
							<label for="opt2">Option 2</label>
							<input id="opt3" class="form-input" type="radio" name="radio" />
							<label for="opt3">Option 3</label>
						</div>
					</div>
				</div>
				<div class="bzg mb-16 v-center">
					<div class="bzg_c form-label text-cap" data-col="s12 m4 l4">
						checkbox
					</div>
					<div class="bzg_c" data-col="s12 m8 l8">
						<div class="form-input--check">
							<input id="opt1" class="form-input" type="checkbox" />
							<label for="opt1">Option 1</label>
							<input id="opt2" class="form-input" type="checkbox" />
							<label for="opt2">Option 2</label>
							<input id="opt3" class="form-input" type="checkbox" />
							<label for="opt3">Option 3</label>
						</div>
					</div>
				</div>
				<div class="bzg mb-16 v-center">
					<div class="bzg_c" data-col="s12 m8 l8" data-offset="m4 l4">
						<button class="btn btn--blue text-cap">submit</button>
						<button class="btn btn--ghost-grey text-cap">cancel</button>
					</div>
				</div>
			</form>
			<!-- CODE -->
			<div class="f-14">
				<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">form</span> <span class="hljs-attr">action</span>=<span class="hljs-string">""</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg mb-12"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c form-label"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m4,l4"</span>&gt;</span>Text Input<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m8,l8"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-input"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Text"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg mb-12"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c form-label"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m4,l4"</span>&gt;</span>Full Width Input<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m8,l8"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-input form-input--block"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"fullwidth"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Full Width Input"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg mb-12"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c form-label"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m4,l4"</span>&gt;</span>Password Input<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m8,l8"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-input"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"password"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"password"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Password"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg mb-12"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c form-label"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m4,l4"</span>&gt;</span>Email Address<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m8,l8"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-input"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"email"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"email"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Email"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg mb-12"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c form-label"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m4,l4"</span>&gt;</span>Number Input<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m8,l8"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-input"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"number"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"number"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Number"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg mb-12"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c form-label"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m4,l4"</span>&gt;</span>Single File Input (Full Width)<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m8,l8"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-input js-file-input"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"singleFile"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"file"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"file"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"flex form-file-label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"singleFile"</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"js-file-name form-file-input form-input--block"</span>&gt;</span> <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--primary ml-4"</span>&gt;</span>Browse<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg mb-12"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c form-label"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m4,l4"</span>&gt;</span>Multiple File Input<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m8,l8"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-input js-file-input"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"multipleFile"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"file"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"file"</span> <span class="hljs-attr">multiple</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"flex form-file-label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"multipleFile"</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"js-file-name form-file-input"</span>&gt;</span> <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--primary ml-4"</span>&gt;</span>Browse<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg mb-12"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c form-label"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m4,l4"</span>&gt;</span>Textarea Input<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m8,l8"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">textarea</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-input"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"textarea"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Text Area"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">textarea</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg mb-12"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c form-label"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m4,l4"</span>&gt;</span>Disabled Input<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m8,l8"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-input"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"disabled"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Disabled"</span> <span class="hljs-attr">disabled</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg mb-12"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c form-label"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m4,l4"</span>&gt;</span>Read-only Input<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m8,l8"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-input"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"readonly"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Read-only"</span> <span class="hljs-attr">readonly</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg mb-12"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c form-label"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m4,l4"</span>&gt;</span>Dropdown Select<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m8,l8"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">select</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-input"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"dropdown"</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">option</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"1"</span>&gt;</span>Option 1<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">option</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"2"</span>&gt;</span>Option 2<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">option</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"3"</span>&gt;</span>Option 3<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-name">select</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg mb-12"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c form-label"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m4,l4"</span>&gt;</span>Radio Buttons<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m8,l8"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check-group"</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check__item"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"rbOption1"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"rbOption1"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"radio"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"radio"</span>&gt;</span> Option 1<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check__item"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"rbOption2"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"rbOption2"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"radio"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"radio"</span>&gt;</span> Option 2<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check__item"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"rbOption3"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"rbOption3"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"radio"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"radio"</span>&gt;</span> Option 3<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg mb-12"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c form-label"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m4,l4"</span>&gt;</span>Checkbox<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m8,l8"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check-group"</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check__item"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"cbOption1"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"cbOption1"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">checked</span>&gt;</span> Option 1<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check__item"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"cbOption2"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"cbOption2"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"checkbox"</span>&gt;</span> Option 2<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check__item"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"cbOption3"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"cbOption3"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">checked</span>&gt;</span> Option 3<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg mb-12"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m8,l8"</span> <span class="hljs-attr">data-offset</span>=<span class="hljs-string">"m4,l4"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn--primary"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"submit"</span>&gt;</span>Submit<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn--ghost-secondary"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"reset"</span>&gt;</span>Cancel<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">form</span>&gt;</span></code></pre>
			</div>
		</div>
		<hr />

		<!-- FORM VALIDATION -->
		<div class="mb-24">
			<h2 class="text-primary text-cap font-fira">form validation</h2>
			<form @submit.prevent="formValidate">
				<div class="bzg mb-16 v-center">
					<div class="bzg_c form-label text-cap" data-col="s12 m4 l4">
						username
					</div>
					<div class="bzg_c" data-col="s12 m8 l8">
						<input
							id="username"
							v-model="username"
							:class="[
								hasSubmit
									? isUsernameEmpty
										? 'form-input--error'
										: 'form-input--success'
									: ''
							]"
							class="form-input"
							type="username"
							name="username"
							placeholder="Username"
						/>
					</div>
				</div>
				<div class="bzg mb-16 v-center">
					<div class="bzg_c form-label text-cap" data-col="s12 m4 l4">
						email address
					</div>
					<div class="bzg_c" data-col="s12 m8 l8">
						<input
							id="email"
							v-model="email"
							:class="[
								hasSubmit
									? isEmailEmpty
										? 'form-input--error'
										: 'form-input--success'
									: ''
							]"
							class="form-input"
							type="email"
							name="email"
							placeholder="Email"
						/>
					</div>
				</div>
				<div class="bzg mb-16 v-center">
					<div class="bzg_c form-label text-cap" data-col="s12 m4 l4">
						birthdate
					</div>
					<div class="bzg_c" data-col="s12 m8 l8">
						<input
							id="birthdate"
							v-model="birthdate"
							:class="[
								hasSubmit
									? isBirthdateEmpty
										? 'form-input--error'
										: 'form-input--success'
									: ''
							]"
							class="form-input"
							type="date"
							name="birthdate"
							placeholder="Birthdate"
						/>
					</div>
				</div>
				<div class="bzg mb-16 v-center">
					<div class="bzg_c form-label text-cap" data-col="s12 m4 l4">
						gender
					</div>
					<div class="bzg_c" data-col="s12 m8 l8">
						<div class="form-group">
							<label for="g1" class="mr-16">
								<input
									id="g1"
									class="form-input form-input--check"
									type="radio"
									name="gender"
								/>
								Male
							</label>
							<label for="g2">
								<input
									id="g2"
									class="form-input form-input--check"
									type="radio"
									name="gender"
								/>
								Female
							</label>
						</div>
					</div>
				</div>
				<div class="bzg mb-16">
					<div class="bzg_c form-label text-cap" data-col="s12 m4 l4">
						checkbox
					</div>
					<div class="bzg_c" data-col="s12 m8 l8">
						<div class="form-group" style="flex-direction: column">
							<label for="h1" class="form-group" style="gap: 8px">
								<input
									id="h1"
									class="form-input form-input--check"
									type="checkbox"
									name="hobbies"
								/>
								Reading
							</label>
							<label for="h2" class="form-group" style="gap: 8px">
								<input
									id="h2"
									class="form-input form-input--check"
									type="checkbox"
									name="hobbies"
								/>
								Writing
							</label>
							<label for="h3" class="form-group" style="gap: 8px">
								<input
									id="h3"
									class="form-input form-input--check"
									type="checkbox"
									name="hobbies"
								/>
								Running
							</label>
							<label for="h4" class="form-group" style="gap: 8px">
								<input
									id="h4"
									class="form-input form-input--check"
									type="checkbox"
									name="hobbies"
								/>
								Swimming
							</label>
						</div>
					</div>
				</div>
				<div class="bzg mb-16 v-center">
					<div class="bzg_c" data-col="s12 m8 l8" data-offset="m4 l4">
						<button class="btn btn--blue text-cap">submit</button>
					</div>
				</div>
			</form>
			<!-- CODE -->
			<div class="f-14">
				<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">form</span> <span class="hljs-attr">action</span>=<span class="hljs-string">""</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"js-validate"</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg mb-12"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c form-label"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m4,l4"</span>&gt;</span>Username<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m8,l8"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-input"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"username"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Username"</span> <span class="hljs-attr">required</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg mb-12"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c form-label"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m4,l4"</span>&gt;</span>Email<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m8,l8"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-input"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"email"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"email"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Email"</span> <span class="hljs-attr">required</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg mb-12"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c form-label"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m4,l4"</span>&gt;</span>Birthdate<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m8,l8"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-input datepicker-here js-date"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"birthdate"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Birthdate"</span> <span class="hljs-attr">required</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg mb-12"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c form-label"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m4,l4"</span>&gt;</span>Gender<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m8,l8"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check-group"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check__item"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"gender1"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"gender1"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"radio"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"gender"</span> <span class="hljs-attr">required</span>&gt;</span> Male<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check__item"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"gender2"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"gender2"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"radio"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"gender"</span>&gt;</span> Female<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg mb-24"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c form-label"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m4,l4"</span>&gt;</span>Hobbies<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m8,l8"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check-group form-input--block"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check__item"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"hobby1"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"hobby1"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"hobby"</span> <span class="hljs-attr">required</span>&gt;</span> Reading<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check__item"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"hobby2"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"hobby2"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"hobby"</span>&gt;</span> Writing<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check__item"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"hobby3"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"hobby3"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"hobby"</span>&gt;</span> Running<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check__item"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"hobby4"</span> <span class="hljs-attr">data-invalid</span>=<span class="hljs-string">"Custom Error Message"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"hobby4"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"hobby"</span>&gt;</span> Swimming<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg mb-12"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m8,l8"</span> <span class="hljs-attr">data-offset</span>=<span class="hljs-string">"m4,l4"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn--primary"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"submit"</span>&gt;</span>Submit<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">form</span>&gt;</span></code></pre>
			</div>
		</div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			hasSubmit: false,
			isUsernameEmpty: false,
			isEmailEmpty: false,
			isBirthdateEmpty: false,
			username: '',
			email: '',
			birthdate: ''
		}
	},
	methods: {
		formValidate() {
			this.hasSubmit = true

			if (!this.username) {
				this.isUsernameEmpty = true
			} else {
				this.isUsernameEmpty = false
			}

			if (!this.email) {
				this.isEmailEmpty = true
			} else {
				this.isEmailEmpty = false
			}

			if (!this.birthdate) {
				this.isBirthdateEmpty = true
			} else {
				this.isBirthdateEmpty = false
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.site-main {
	margin: 0;
	font-family: 'Open Sans', sans-serif !important;

	hr {
		border-top-color: #ccc;
	}

	.hljs {
		display: block;
		overflow-x: auto;
		background: #efecf4;
		color: #585260;

		&-tag {
			color: #be4678;
		}

		&-classname {
			color: #2a9292;
		}
	}

	.font-fira {
		font-family: 'Fira Mono', monospace;
	}

	.form-label {
		@media #{$medium} {
			text-align: right;
		}
	}
}
</style>
