<template>
	<main class="site-main flex">
		<div class="mb-24">
			<h2 class="text-cap text-primary">environtment</h2>
			<ul class="font-opensans">
				<li>
					<p>
						<span class="text-bold text-cap">node js</span> versi 8 ke atas.
						Node harus di <em>install</em> sebelum meng-<em>install</em>
						lainnya
					</p>
					<p class="text-cap">
						<a href="https://nodejs.org/" target="_blank" class="text-blue"
							>install</a
						>
						|
						<a
							href="https://nodejs.org/en/docs/"
							target="_blank"
							class="text-blue"
							>dokumentasi</a
						>
					</p>
				</li>
				<li>
					<p>
						<span class="text-bold text-cap">Yeoman.</span> Jalankan perintah
						dibawah di <em>command prompt</em>.
					</p>
					<pre>
							<code class="shell hljs">npm i -g yo</code>
						</pre>
				</li>
				<li>
					<p>
						<span class="text-bold text-cap">Gulp.</span> Jalankan perintah
						dibawah di <em>command prompt</em>.
					</p>
					<pre>
							<code class="shell hljs">npm i -g gulp-cli</code>
						</pre>
				</li>
				<li>
					<p>
						<span class="text-bold text-cap">Git</span>
					</p>
					<p class="text-cap">
						<a href="https://git-scm.com/" target="_blank" class="text-blue"
							>install</a
						>
						|
						<a href="#" class="text-blue">pro git (PDF)</a>
					</p>
				</li>
				<li>
					<p>
						<span class="text-bold text-cap">xampp</span>
					</p>
					<p class="text-cap">
						<a
							href="https://www.apachefriends.org/"
							target="_blank"
							class="text-blue"
							>install</a
						>
					</p>
				</li>
				<li>
					<p>
						<span class="text-bold text-cap">generator baze</span>
					</p>
					<p>
						Install
						<a
							href="https://www.npmjs.com/package/generator-baze"
							target="_blank"
							class="text-blue"
							>generator baze</a
						>
						(versi lama) atau
						<a
							href="https://www.npmjs.com/package/generator-baze-nuxt"
							target="_blank"
							class="text-blue"
							>generator baze nuxt</a
						>
						(versi baru) dengan menjalankan perintah dibawah ini.
					</p>
					<pre>
						<code class="shell hljs">npm install generator-baze -g</code>
					</pre>
					<pre>
						<code class="shell hljs">npm install generator-baze-nuxt -g</code>
					</pre>
					<p>Untuk install kedalam project frontend, jalankan</p>
					<pre>
						<code class="shell hljs">yo baze</code>
					</pre>
					<pre>
						<code class="shell hljs">yo baze-nuxt</code>
					</pre>
				</li>
			</ul>
		</div>
	</main>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.site-main {
	margin-top: 0;
	background: #fff;
}

.font-opensans {
	font-family: 'Open Sans', sans-serif;
}

pre {
	white-space: unset;
}

.hljs {
	display: block;
	overflow-x: auto;
	background: #efecf4;
	color: #585260;
	padding: 0.5em;
}
</style>
