<template>
	<main class="site-main">
		<div class="mb-24">
			<h2 class="text-primary text-cap font-fira">default grid</h2>
			<div class="bzg">
				<div class="bzg_c" data-col="m3">
					<div class="text-center bg-blue text-white">bzg_c m3</div>
				</div>
				<div class="bzg_c" data-col="m3">
					<div class="text-center bg-blue text-white">bzg_c m3</div>
				</div>
				<div class="bzg_c" data-col="m3">
					<div class="text-center bg-blue text-white">bzg_c m3</div>
				</div>
				<div class="bzg_c" data-col="m3">
					<div class="text-center bg-blue text-white">bzg_c m3</div>
				</div>
			</div>
			<div class="bzg">
				<div class="bzg_c" data-col="m4">
					<div class="text-center bg-blue text-white">bzg_c m4</div>
				</div>
				<div class="bzg_c" data-col="m4">
					<div class="text-center bg-blue text-white">bzg_c m4</div>
				</div>
				<div class="bzg_c" data-col="m4">
					<div class="text-center bg-blue text-white">bzg_c m4</div>
				</div>
			</div>
			<!-- CODE -->
			<div class="f-14">
				<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m3"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m3"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m3"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m3"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m4"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m4<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m4"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m4<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m4"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m4<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
			</div>
		</div>
		<hr />

		<!-- NO GUTTER GRID -->
		<div class="mb-24">
			<h2 class="text-primary text-cap font-fira">no-gutter grid</h2>
			<div class="bzg bzg--no-gutter">
				<div class="bzg_c" data-col="m1">
					<div class="text-center bg-blue text-white">bzg_c m1</div>
				</div>
				<div class="bzg_c" data-col="m1">
					<div class="text-center bg-blue text-white">bzg_c m1</div>
				</div>
				<div class="bzg_c" data-col="m1">
					<div class="text-center bg-blue text-white">bzg_c m1</div>
				</div>
				<div class="bzg_c" data-col="m1">
					<div class="text-center bg-blue text-white">bzg_c m1</div>
				</div>
				<div class="bzg_c" data-col="m1">
					<div class="text-center bg-blue text-white">bzg_c m1</div>
				</div>
				<div class="bzg_c" data-col="m1">
					<div class="text-center bg-blue text-white">bzg_c m1</div>
				</div>
				<div class="bzg_c" data-col="m1">
					<div class="text-center bg-blue text-white">bzg_c m1</div>
				</div>
				<div class="bzg_c" data-col="m1">
					<div class="text-center bg-blue text-white">bzg_c m1</div>
				</div>
				<div class="bzg_c" data-col="m1">
					<div class="text-center bg-blue text-white">bzg_c m1</div>
				</div>
				<div class="bzg_c" data-col="m1">
					<div class="text-center bg-blue text-white">bzg_c m1</div>
				</div>
				<div class="bzg_c" data-col="m1">
					<div class="text-center bg-blue text-white">bzg_c m1</div>
				</div>
				<div class="bzg_c" data-col="m1">
					<div class="text-center bg-blue text-white">bzg_c m1</div>
				</div>
			</div>
			<div class="bzg bzg--no-gutter">
				<div class="bzg_c" data-col="m2">
					<div class="text-center bg-blue text-white">bzg_c m2</div>
				</div>
				<div class="bzg_c" data-col="m2">
					<div class="text-center bg-blue text-white">bzg_c m2</div>
				</div>
				<div class="bzg_c" data-col="m2">
					<div class="text-center bg-blue text-white">bzg_c m2</div>
				</div>
				<div class="bzg_c" data-col="m2">
					<div class="text-center bg-blue text-white">bzg_c m2</div>
				</div>
				<div class="bzg_c" data-col="m2">
					<div class="text-center bg-blue text-white">bzg_c m2</div>
				</div>
				<div class="bzg_c" data-col="m2">
					<div class="text-center bg-blue text-white">bzg_c m2</div>
				</div>
			</div>
			<div class="bzg bzg--no-gutter">
				<div class="bzg_c" data-col="m3">
					<div class="text-center bg-blue text-white">bzg_c m3</div>
				</div>
				<div class="bzg_c" data-col="m3">
					<div class="text-center bg-blue text-white">bzg_c m3</div>
				</div>
				<div class="bzg_c" data-col="m3">
					<div class="text-center bg-blue text-white">bzg_c m3</div>
				</div>
				<div class="bzg_c" data-col="m3">
					<div class="text-center bg-blue text-white">bzg_c m3</div>
				</div>
			</div>
			<div class="bzg bzg--no-gutter">
				<div class="bzg_c" data-col="m4">
					<div class="text-center bg-blue text-white">bzg_c m4</div>
				</div>
				<div class="bzg_c" data-col="m4">
					<div class="text-center bg-blue text-white">bzg_c m4</div>
				</div>
				<div class="bzg_c" data-col="m4">
					<div class="text-center bg-blue text-white">bzg_c m4</div>
				</div>
			</div>
			<div class="bzg bzg--no-gutter">
				<div class="bzg_c" data-col="m6">
					<div class="text-center bg-blue text-white">bzg_c m6</div>
				</div>
				<div class="bzg_c" data-col="m6">
					<div class="text-center bg-blue text-white">bzg_c m6</div>
				</div>
			</div>
			<div class="bzg bzg--no-gutter">
				<div class="bzg_c" data-col="m7">
					<div class="text-center bg-blue text-white">bzg_c m7</div>
				</div>
				<div class="bzg_c" data-col="m5">
					<div class="text-center bg-blue text-white">bzg_c m5</div>
				</div>
			</div>
			<div class="bzg bzg--no-gutter">
				<div class="bzg_c" data-col="m12">
					<div class="text-center bg-blue text-white">bzg_c m12</div>
				</div>
			</div>
			<!-- CODE -->
			<div class="f-14">
				<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg bzg--no-gutter"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m1"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m1"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m1"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m1"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m1"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m1"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m1"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m1"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m1"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m1"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m1"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m1"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg bzg--no-gutter"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m2"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m2<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m2"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m2<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m2"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m2<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m2"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m2<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m2"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m2<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m2"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m2<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg bzg--no-gutter"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m3"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m3"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m3"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m3"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg bzg--no-gutter"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m4"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m4<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m4"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m4<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m4"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m4<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg bzg--no-gutter"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m6"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m6<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m6"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m6<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg bzg--no-gutter"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m7"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m7<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m5"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m5<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg bzg--no-gutter"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m12"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m12<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
			</div>
		</div>
		<hr />

		<!-- GRID WITH OFFSET -->
		<div class="mb-24">
			<h2 class="text-primary text-cap font-fira">grid with offset</h2>
			<div class="bzg bzg--no-gutter">
				<div class="bzg_c" data-col="m2">
					<div class="text-center bg-blue text-white">bzg_c m2</div>
				</div>
				<div class="bzg_c" data-col="m5" data-offset="m5">
					<div class="text-center bg-blue text-white">bzg_c m5 offset=m5</div>
				</div>
			</div>
			<div class="bzg bzg--no-gutter">
				<div class="bzg_c" data-col="m3" data-offset="m3">
					<div class="text-center bg-blue text-white">bzg_c m3 offset=m3</div>
				</div>
				<div class="bzg_c" data-col="m3" data-offset="m3">
					<div class="text-center bg-blue text-white">bzg_c m3 offset=m3</div>
				</div>
			</div>
			<div class="bzg bzg--no-gutter">
				<div class="bzg_c" data-col="m6" data-offset="m3">
					<div class="text-center bg-blue text-white">bzg_c m6 offset=m3</div>
				</div>
			</div>
			<!-- CODE -->
			<div class="f-14">
				<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg bzg--no-gutter"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m2"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m2<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m5"</span> <span class="hljs-attr">data-offset</span>=<span class="hljs-string">"m5"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m5 offset=m5<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg bzg--no-gutter"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m3"</span> <span class="hljs-attr">data-offset</span>=<span class="hljs-string">"m3"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3 offset=m3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m3"</span> <span class="hljs-attr">data-offset</span>=<span class="hljs-string">"m3"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3 offset=m3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg bzg--no-gutter"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"m6"</span> <span class="hljs-attr">data-offset</span>=<span class="hljs-string">"m3"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m6 offset=m3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
			</div>
		</div>
		<hr />

		<!-- RESPONSIVE GRID -->
		<div class="mb-24">
			<h2 class="text-primary text-cap font-fira">responsive grid</h2>
			<div class="bzg bzg--no-gutter">
				<div class="bzg_c" data-col="s12,m9,l6">
					<div class="text-center bg-blue text-white">bzg_c s12,m9,l6</div>
				</div>
				<div class="bzg_c" data-col="s6,m3,l6">
					<div class="text-center bg-blue text-white">bzg_c s6,m3,l6</div>
				</div>
			</div>
			<!-- CODE -->
			<div class="f-14">
				<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg bzg--no-gutter"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s12,m9,l6"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c s12,m9,l6<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzg_c"</span> <span class="hljs-attr">data-col</span>=<span class="hljs-string">"s6,m3,l6"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-center bg-primary text-white"</span>&gt;</span>bzg_c s6,m3,l6<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
			</div>
		</div>
	</main>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.site-main {
	margin: 0;
	font-family: 'Open Sans', sans-serif;

	hr {
		border-top-color: #ccc;
	}

	.hljs {
		display: block;
		overflow-x: auto;
		background: #efecf4;
		color: #585260;

		&-tag {
			color: #be4678;
		}

		&-classname {
			color: #2a9292;
		}
	}

	.font-fira {
		font-family: 'Fira Mono', monospace;
	}

	.bzg_c {
		border: 1px solid #fff;
	}
}
</style>
