<template>
	<main class="site-main">
		<!-- Heading -->
		<div class="mb-24">
			<h2 class="text-primary text-cap font-fira">heading</h2>
			<h1 class="text-cap">heading</h1>
			<h2 class="text-cap">heading</h2>
			<h3 class="text-cap">heading</h3>
			<h4 class="text-cap">heading</h4>
			<h5 class="text-cap">heading</h5>
			<h6 class="text-cap">heading</h6>
			<div>
				<pre>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;h1&gt;</span><span class="text-cap">heading 1</span><span class="hljs-tag">&lt;/h1&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;h2&gt;</span><span class="text-cap">heading 2</span><span class="hljs-tag">&lt;/h2&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;h3&gt;</span><span class="text-cap">heading 3</span><span class="hljs-tag">&lt;/h3&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;h4&gt;</span><span class="text-cap">heading 4</span><span class="hljs-tag">&lt;/h4&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;h5&gt;</span><span class="text-cap">heading 5</span><span class="hljs-tag">&lt;/h5&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;h6&gt;</span><span class="text-cap">heading 6</span><span class="hljs-tag">&lt;/h6&gt;</span>
					</code>
				</pre>
			</div>
		</div>
		<hr />

		<!-- Heading style -->
		<div class="mb-24">
			<h2 class="text-primary text-cap font-fira">heading style</h2>
			<p class="h1">Text size adjust h1</p>
			<p class="h2">Text size adjust h2</p>
			<p class="h3">Text size adjust h3</p>
			<p class="h4">Text size adjust h4</p>
			<p class="h5">Text size adjust h5</p>
			<p class="h6">Text size adjust h6</p>
			<div>
				<pre>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"h1"</span>&gt;</span><span>Text size adjust h1</span><span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"h2"</span>&gt;</span><span>Text size adjust h2</span><span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"h3"</span>&gt;</span><span>Text size adjust h3</span><span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"h4"</span>&gt;</span><span>Text size adjust h4</span><span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"h5"</span>&gt;</span><span>Text size adjust h5</span><span class="hljs-tag">&lt;/p&gt;</span>
					</code>
					<code class="hljs f-14">
						<span class="hljs-tag">&lt;p class=<span class="hljs-classname">"h6"</span>&gt;</span><span>Text size adjust h6</span><span class="hljs-tag">&lt;/p&gt;</span>
					</code>
				</pre>
			</div>
		</div>
	</main>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.font-fira {
	font-family: 'Fira Mono', monospace;
}

pre {
	white-space: unset;
}

hr {
	border-top-color: #ccc;
}

.hljs {
	display: block;
	overflow-x: auto;
	background: #efecf4;
	color: #585260;

	&-tag {
		color: #be4678;
	}

	&-classname {
		color: #2a9292;
	}
}

.site-main {
	margin-top: 0;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
}
</style>
