<template>
	<main class="site-main text-white">
		<HomeIntro />
	</main>
</template>

<script>
export default {
	layout: 'homePage',
	data() {
		return {}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze'
			})
		}
	}
}
</script>

<style lang="scss" scoped>
.site-main {
	margin: 0;
	height: 100%;
	background: #555;
}
</style>
