<template>
	<main class="site-main">
		<div class="mb-24">
			<h2 class="text-primary text-cap font-fira">Api</h2>
			<Pokemons />
		</div>
	</main>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.site-main {
	margin: 0;
	font-family: 'Open Sans', sans-serif;

	pre {
		white-space: unset;
	}

	hr {
		border-top-color: #ccc;
	}

	.hljs {
		display: block;
		overflow-x: auto;
		background: #efecf4;
		color: #585260;

		&-tag {
			color: #be4678;
		}

		&-classname {
			color: #2a9292;
		}
	}

	.font-fira {
		font-family: 'Fira Mono', monospace;
	}
}
</style>
