<template>
	<main class="site-main">
		<div class="mb-24">
			<h2 class="text-primary text-cap font-fira">responsive media</h2>
			<h5 class="text-cap text-primary">landscape</h5>
			<div class="responsive-media r-16-9">
				<img src="@/assets/img/site-logo.png" />
			</div>
			<h5 class="text-cap text-primary">square</h5>
			<div class="responsive-media r-1">
				<img src="@/assets/img/site-logo.png" />
			</div>
		</div>
	</main>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.site-main {
	margin: 0;
	font-family: 'Open Sans', sans-serif;

	hr {
		border-top-color: #ccc;
	}

	.hljs {
		display: block;
		overflow-x: auto;
		background: #efecf4;
		color: #585260;

		&-tag {
			color: #be4678;
		}

		&-classname {
			color: #2a9292;
		}
	}

	.font-fira {
		font-family: 'Fira Mono', monospace;
	}
}
</style>
