<template>
	<main class="site-main">
		<div class="mb-24">
			<h2 class="text-primary text-cap font-fira">tabs</h2>
			<div class="tab-nav">
				<ul>
					<li v-for="tab in 4" :key="tab">
						<a
							:class="{ 'is-active': contentTab === tab }"
							class="text-cap"
							@click="changeTab(tab)"
						>
							tab {{ tab }}
						</a>
					</li>
				</ul>
				<div v-if="contentTab === 1" class="tab-content container">
					<p>
						tab 1 Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Quidem commodi quaerat eos, ipsum illo quos quibusdam consequuntur
						necessitatibus velit nostrum.
					</p>
				</div>
				<div v-else-if="contentTab === 2" class="tab-content container">
					<p>
						tab 2 Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Quidem commodi quaerat eos, ipsum illo quos quibusdam consequuntur
						necessitatibus velit nostrum.
					</p>
				</div>
				<div v-else-if="contentTab === 3" class="tab-content container">
					<p>
						tab 3 Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Quidem commodi quaerat eos, ipsum illo quos quibusdam consequuntur
						necessitatibus velit nostrum.
					</p>
				</div>
				<div v-else-if="contentTab === 4" class="tab-content container">
					<p>
						tab 4 Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Quidem commodi quaerat eos, ipsum illo quos quibusdam consequuntur
						necessitatibus velit nostrum.
					</p>
				</div>
			</div>
			<div class="f-14">
				<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">ul</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__bar js-tabs"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link is-active"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#item1"</span>&gt;</span>TAB 1<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#item2"</span>&gt;</span>TAB 2<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#item3"</span>&gt;</span>TAB 3<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#item4"</span>&gt;</span>TAB 4<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__content"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item is-active"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"item1"</span>&gt;</span>
        Item 1
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"item2"</span>&gt;</span>
        Item 2
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"item3"</span>&gt;</span>
        Item 3
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"item4"</span>&gt;</span>
        Item 4
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
			</div>

			<!-- JUSTIIFIED TAB -->
			<div class="tab-nav">
				<ul class="f-space-between">
					<li v-for="tab in 4" :key="tab" class="fg-1">
						<a
							:class="{ 'is-active': contentTab === tab }"
							class="text-cap h-center"
							@click="changeTab(tab)"
						>
							tab {{ tab }}
						</a>
					</li>
				</ul>
				<div v-if="contentTab === 1" class="tab-content container">
					<p>
						tab 1 Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Quidem commodi quaerat eos, ipsum illo quos quibusdam consequuntur
						necessitatibus velit nostrum.
					</p>
				</div>
				<div v-else-if="contentTab === 2" class="tab-content container">
					<p>
						tab 2 Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Quidem commodi quaerat eos, ipsum illo quos quibusdam consequuntur
						necessitatibus velit nostrum.
					</p>
				</div>
				<div v-else-if="contentTab === 3" class="tab-content container">
					<p>
						tab 3 Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Quidem commodi quaerat eos, ipsum illo quos quibusdam consequuntur
						necessitatibus velit nostrum.
					</p>
				</div>
				<div v-else-if="contentTab === 4" class="tab-content container">
					<p>
						tab 4 Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Quidem commodi quaerat eos, ipsum illo quos quibusdam consequuntur
						necessitatibus velit nostrum.
					</p>
				</div>
			</div>
			<div class="f-14">
				<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">ul</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__bar--justify js-tabs"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link is-active"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#justified1"</span>&gt;</span>TAB 1<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#justified2"</span>&gt;</span>TAB 2<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#justified3"</span>&gt;</span>TAB 3<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#justified4"</span>&gt;</span>TAB 4<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__content"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item is-active"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"justified1"</span>&gt;</span>
        Item 1
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"justified2"</span>&gt;</span>
        Item 2
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"justified3"</span>&gt;</span>
        Item 3
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"justified4"</span>&gt;</span>
        Item 4
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
			</div>
		</div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			contentTab: 1
		}
	},
	methods: {
		changeTab(tabNumber) {
			this.contentTab = tabNumber
		}
	}
}
</script>

<style lang="scss" scoped>
.site-main {
	margin: 0;
	font-family: 'Open Sans', sans-serif;

	hr {
		border-top-color: #ccc;
	}

	.hljs {
		display: block;
		overflow-x: auto;
		background: #efecf4;
		color: #585260;

		&-tag {
			color: #be4678;
		}

		&-classname {
			color: #2a9292;
		}
	}

	.font-fira {
		font-family: 'Fira Mono', monospace;
	}
}
</style>
