<template>
	<div class="bzg">
		<div class="bzg_c mb-16" data-col="s12 m5 l4" data-offset="m1 l2">
			<Link
				to="/getstarted"
				class="btn--primary btn--block text-caps text-light"
				text="get started"
			/>
		</div>
		<div class="bzg_c mb-16" data-col="s12 m5 l4">
			<a
				href="https://github.com/suitmedia/suit-baze"
				target="_blank"
				class="btn--ghost-white btn--block text-caps text-light"
			>
				download
			</a>
		</div>
	</div>
</template>

<script>
export default {
	name: 'ButtonAccess'
}
</script>

<style lang="scss" scoped>
.btn--ghost-white:hover {
	color: #333;
}
</style>
