<template>
	<div class="intro text-center">
		<img class="logo" src="../../assets/img/site-logo.png" alt="Logo Baze" />
		<p class="h3 mb-36">A minimal setup for your frontend environment</p>
		<ButtonAccess />
	</div>
</template>

<script>
import ButtonAccess from './ButtonAccess'

export default {
	name: 'HomeIntro',
	components: {
		ButtonAccess
	}
}
</script>

<style lang="scss" scoped>
.intro {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	& > .logo {
		margin: 25px;
		max-width: 150px;
	}
}
</style>
